@main: @white;
// @dark-background: #f0f2f5;

@body-background: @main;
@menu-bg: @main;
@layout-body-background: @main;
@layout-header-background: @main;

@layout-sider-background: @main;
@layout-trigger-background: @main;
@layout-trigger-color: @text-color;
