body {
  background-color: #f0f2f5;
}

.site-layout-background {
  background: #fff;
}

input,
button,
.ant-pagination-item,
.ant-dropdown-menu-item,
.ant-radio-button-wrapper
{
  border-radius: 3px!important;
}

.ant-page-header {
  padding: 0 0 25px 0;
}

.ant-layout-sider-trigger {
  position: relative;
  background: none;
  color: rgba(0, 0, 0, 0.85);
}
