@import '~antd/dist/antd.less';
// @import '~antd/dist/antd.compact.less';
@import './themes/dark.less';

@text-light: #fff;

@border-radius-base: 5px;

@layout-header-padding: 0 10px;
@layout-header-height: 40px;

@layout-footer-padding: 2px 10px;
@layout-footer-height: 22px;

.row {
  margin: 20px;
}

.electron-draggable {
  -webkit-app-region: drag;
}

.electron-not-draggable {
  -webkit-app-region: no-drag;
}

.app-top-bar {
  .electron-draggable;
  border-bottom-width: 1px;
  border-bottom-color: @border-color-split;
  border-bottom-style: solid;
}

.app-sidebar {
  height: calc(100vh - @layout-header-height - @layout-footer-height);
  position: fixed;
  left: 0;
  user-select: none;
}

.ant-layout-sider-trigger {
  bottom: @layout-footer-height;
  border-right-width: 1px;
  border-right-color: @border-color-split;
  border-right-style: solid;
}

.app-status-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: @layout-footer-height;
  background-color: @primary-color;
  // background-color: @main-dark;
  font-size: @font-size-sm;
  color: @text;
}

.app-content {
  height: calc(100vh - @layout-header-height - @layout-footer-height);
}

